.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5EA1BD;
    padding: 0 12px;
  }
  
  .login{
    background-color: #EAEAEC;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  }
  
  .login-area{
    background-color: #EAEAEC;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 120px;
  }

  .login-area img {
    width: 150px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }  
  
  form{
    margin-top: 0.4rem;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  
  form h1{
    text-align: center;
    margin: 0rem 0rem 1.5rem 0rem;
    color: #000000;
  }
  
  .login input{
    margin: auto;
    margin-bottom: 1.5rem;
    height: 35px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: 'white';
    border: 0;
    width: 50%;
    
  }
  
  .botaoLogin{
    margin: auto;
    height: 40px;
    border:0;
    border-radius: 20px;
    background-color: #5EA1BD;
    color: #FFF;
    font-size: 1.2rem;
    transition: 0.7s;
    width: 50%;
  }

  .botaoLogin:hover{
    background-color: #5ea0bdc2;
  }
  
  .login a{
    margin: 1rem 0 1.5rem 0;
    color: #181c2e;
    cursor: pointer;
    transition: 0.7s;
    font-size: 14px;
  }

  .login a:hover{
    color: #181c2ed4
  }

  .cadastre-se {
    color: #5EA1BD;
    transition: 0.7s;
  }

  .cadastre-se:hover {
    color: #5ea0bdc2;
  }

  .objetivo {
    margin-top: 15px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }  

  @media screen and (max-width: 700px){
    .login input{
      margin: auto;
      margin-bottom: 1.5rem;
      height: 35px;
      border-radius: 20px;
      padding: 10px;
      font-size: 15px;
      background-color: 'white';
      border: 0;
      width: 90%;
      
    }
    
    .botaoLogin{
      margin: auto;
      height: 40px;
      border:0;
      border-radius: 20px;
      background-color: #5EA1BD;
      color: #FFF;
      font-size: 1.2rem;
      transition: 0.7s;
      width: 50%;
    }
  }